* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.user-info {
  height: 80px;
  border-radius: 5px;
}
.container{
    height: 54vh;
    width: 60%;
    padding: 30px 20px;
    position: relative;
}
.scores{
    position: absolute;
    left: 20px;
    bottom: 20px;
}
