body {
  background-color: #f8f9fa;
}

#main-card {
  max-width: 650px;
  border-radius: 12px;
  margin-top: 40px;
}


.custom-email-input {
  height: 40px;
  font-size: 14px;
  padding-left: 50px; 
  padding-right: 50px; 
}


.custom-btn {
  height: 30px;
  font-size: 13px;
  padding-left: 12px;
  padding-right: 12px;
  min-width: 70px;
 
}


.position-absolute .custom-btn:first-child {
  left: 0;
}


.position-absolute .custom-btn:last-child {
  right: 0;
}


#leaderboardBtn {
  margin-top: px;
  height: px;
  font-size: 14px;
}

